<div class="recipe-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="recipe-show-single">
          <h2 class="recipe-author">
            <%= @recipe.user.name %>
          </h2>
          <p class="recipe-title">
            <%= @recipe.title %>
          </p>
          <p class="recipe-text">
            <%= @recipe.description %>
          </p>
          <%= image_tag @recipe.image.url %>
          <p class="step-text">材料</p>
          <div class="row">
            <% @recipe.materials.each do |material| %>
              <p class="step-description">
                <%= material.title %>
                <%= material.amount %>
              </p>
            <% end %>
          </div>
          <%= link_to '材料の追加', new_material_path(recipe_id: @recipe.id), class: 'btn btn-block btn-black' %>
          <p class="step-text">手順</p>
          <div class="row">
            <% @recipe.steps.each do |step| %>
              <div class="col-md-4">
                <p class="step-text-bold">
                  <%= step.priority %>
                </p>
              <%= image_tag step.image.url, class: 'recipe-show-image' %>
              <p class="step-description">
                <%= step.description %>
              </p>
             </div>
            <% end %>
          </div>
          <%= link_to '手順の追加', new_recipe_step_path(@recipe) , class: 'btn btn-block btn-black' %>
        </div>
      </div>
    </div>
  </div>
</div>
